.task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 61px;
    margin-bottom: 13px;
    padding: 10px 20px;
    background-color: var(--paletteColor12);
    border-radius: 5px;
    box-shadow: 6px 6px 14px var(--rgbaColor1);
    font-size: 20px;
    font-weight: 400;
    color: var(--paletteColor13);

    & svg {
        cursor: pointer;
    }

    & .content {
        display: flex;
        align-items: center;
        //width: 85%;
        flex: 0 1 85%;

        & .complete {
            margin-right: 20px;
        }

        & span {
            display: flex;
            align-items: center;
            margin-right: 1.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & input[type='text'] {
            width: 100%;
            border-color: transparent;

            &:not([disabled]) {
                border-color: var(--paletteColor3);
            }
        }
    }

    & .actions {
        display: flex;

        & .setPriority,
        & .edit {
            margin-right: .5rem;
        }
    }
}

.completed {
    opacity: .5;
    text-decoration: line-through;
}
